

<svg id="line-svg" #lineSvg [attr.width]="options.width" [attr.height]="options.height">
  <g id="line-svg-container" transform="translate(50,50)">

    <g id="line-x-axis" class="x axis" [attr.transform]="translate(0, options.height - 100)" fill="none" font-size="10" family="sans-serif" text-anchor="middle">
      <path id="line-x-axis-path" class="domain" stroke="currentColor" d="M0.5,6V0.5H689.5V6"></path>
      <g class="tick" opacity="1" [attr.transform]="translate(item.x, 0)" *ngFor="let item of graph.xAxis" >
        <line stroke="blue" y2="6"/>
        <text fill="currentColor" y="9" dy="0.71em">{{item['label']}}</text>
      </g>
    </g>

    <g id="line-y-axis" class="y axis" fill="none" font-size="10" family="sans-serif" text-anchor="end">
      <path id="line-y-axis-path" class="domain" stroke="currentColor" d="M-6,704.5H0.5V0.5H-6"></path>
      <g class="tick" opacity="1" [attr.transform]="translate(-10, item.y)" *ngFor="let item of graph.yAxis" >
        <line stroke="blue" x2="-6"/>
        <text fill="currentColor" x="-9" dy="0.32em">{{item['label']}}</text>
      </g>
    </g>

    <circle *ngFor="let circle of graph.circleData"
      class="dot"
      [attr.cx]="circle.cx"
      [attr.cy]="circle.cy"
      [attr.r]="circle.r"
    >
    </circle>

  </g>
</svg>


