@import './../shared/styles/styles.scss';

/* Style the lines by removing the fill and applying a stroke */
// .line {
//   fill: none;
//   stroke: #ffab00;
//   stroke-width: 3;
// }

// .overlay {
// fill: none;
// pointer-events: all;
// }

/* Style the dots by assigning a fill and stroke */
// .dot {
//   fill: #ffab00;
//   stroke: #fff;
// }

// .focus circle {
// fill: none;
// stroke: steelblue;
// }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}


div.tooltip {
  position: absolute;
  text-align: center;
  min-width: 60px;
  min-height: 28px;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  color: black;
}
