<!-- <div id="svg-example"></div> -->

<!-- <svg id="svg-example" width="960" height="500"></svg> -->

<svg id="bar-svg" #barSvg [attr.width]="options.width" [attr.height]="options.height">
  <g id="bar-svg-container" transform="translate(50,20)">
    <g id="bar-x-axis" [attr.transform]="translate( 0, options.height - 50)" fill="none" font-size="10" font-family="sans-serif" text-anchor="middle">
      <!-- <path class="domain" stroke="currentColor" [attr.d]="graph.xAxisPath"></path>
      <g class="tick" style="opacity: 1;" [attr.transform]="translate(item.x, 0)" *ngFor="let item of graph.xAxis" >
        <line stroke="currentColor" y2="6"></line>
        <text fill="currentColor" y="9" dy="0.71em">{{item.label}}</text>
      </g> -->
    </g>
    <g id="bar-y-axis" fill="none" font-size="10" font-family="sans-serif" text-anchor="end">
      <!-- <path class="domain" stroke="currentColor" [attr.d]="graph.yAxisPath"></path>
      <g class="tick" style="opacity: 1;" [attr.transform]="translate(0, item.y)" *ngFor="let item of graph.yAxis" >
        <line stroke="currentColor" x2="-6"></line>
        <text fill="currentColor" x="-9" dy="0.32em">{{item.label}}</text>
      </g> -->
    </g>
    <rect
      style="fill: steelblue;"
      [attr.width]="rectangle.width"
      [attr.x]="rectangle.x"
      [attr.y]="rectangle.y"
      [attr.height]="rectangle.height"
      *ngFor="let rectangle of graph.rectanglesData"
    ></rect>
  </g>
</svg>
