@import './../shared/styles/styles.scss';

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.area {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;

}

