<ng-line [labels]="line.labels" [data]="line.data"></ng-line>
<ng-pie [labels]="pie.labels" [data]="pie.data" [backgroundColors]="pie.backgroundColors"></ng-pie>
<ng-bar [labels]="bar.labels" [data]="bar.data" [options]="bar.options"></ng-bar>
<ng-area [labels]="area.labels" [data]=area.data></ng-area>
<ng-band [labels]="band.labels" [data]="band.data" [options]="band.options"></ng-band>
<ng-multiline [labels]="multiline.labels" [data]="multiline.data" [options]="multiline.options"></ng-multiline>
<router-outlet></router-outlet>
